.vscode
__pycache__
LDA
venv
fastapi


fyp_data/crawlersyoutube-transcription/audios/*
fyp_data/crawlers/youtube-transcription/outputs/*
fyp_data/crawlers/youtube-transcription/old_outputs/*
fyp_data/crawlers/youtube-transcription/texts/*
fyp_data/crawlers/youtube-transcription/youtube-transcribe/.downloadAndExtract/__pycache__
fyp_data/crawlers/quora-crawler/__pycache__

fyp_data/squares
fyp_data/create_folder.py
fyp_data/rename_files.py


fyp_web/frontend/node_modules/

fyp_web/backend/__pycache__


